/* Building Intellect custom styles */

/* edit-form page styles */
.selectBox select {
    width: 100%;
    font-weight: bold;
}

#notify-checkboxes {
    display: none;
    border: 1px #dadada solid;
    background-color: #ffffff;
}

#notify-checkboxes input {
    margin-left: 5px;
}

#notify-checkboxes label {
    display: block;
}

#notify-checkboxes label:hover {
    background-color: #1e90ff;
}
