/* Building Intellect custom styles */

.logo-nav {
    width: 45px !important;
    height: 45px !important;
    border-radius: 5px;
}

.logo-nav:hover {
    box-shadow: 0px 0px 10px white;
    transition-duration: .25s;
}

.logo-login {
    width: 200px !important;
    height: 200px !important;
}

/* edit-form page styles */
.selectBox select {
    width: 100%;
    font-weight: bold;
}

#notify-checkboxes {
    display: none;
    border: 1px #dadada solid;
    background-color: #ffffff;
}

#notify-checkboxes input {
    margin-left: 5px;
}

#notify-checkboxes label {
    display: block;
}

#notify-checkboxes label:hover {
    background-color: #1e90ff;
}

/* single issue page styles */
.plans-viewer {
    width: 85%;
    height: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.plans-viewer-content {
    height: 100%;
}

.plans-single {
    width: 49%;
    height: 34vh;
    margin-right: 5px;
	border: 1px solid rgba(0,0,0,0.2);
}

.plans-control {
    margin-right: 10px;
}

.plans-label {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.plans-footer {
    text-align: center;
    padding: 5px;
}

#pdf-loader {
	display: none;
	text-align: center;
	color: #999999;
	font-size: 13px;
	line-height: 100px;
	height: 100px;
}

.pdf-contents {
	display: none;
    height: 100%;
}

#page-count-container {
	margin-left: 30px;
}

#pdf-current-page {
	display: inline;
}

#pdf-total-pages {
	display: inline;
}

#pdf-canvas {
    width: 100%;
    height: 100%;
	box-sizing: border-box;
    display: inline;
}

#page-loader {
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	color: #999999;
	font-size: 13px;
}
